@import "tailwindcss";

@layer base {
  html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}